/* CSS Reset - Basic & Modern */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: #000000;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.f-mont {
  font-family: "Montserrat", sans-serif;
}

.footer {
  position: relative;
}
.footer .box-top {
  height: 20rem;
  background-color: #fcf8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8rem 8rem 0 0;
  position: relative;
  overflow: hidden;
}
.footer .box-top::before, .footer .box-top::after {
  content: "";
  position: absolute;
  width: 2.6rem;
  height: 34.9rem;
  background: url(../../image/common/bg_line.png) no-repeat;
  background-position: center;
  background-size: contain;
  bottom: 0;
}
.footer .box-top::before {
  left: 4.4rem;
}
.footer .box-top::after {
  right: 4.4rem;
}
.footer .list-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}
.footer .list-sns .item:first-child {
  margin-right: 3.1rem;
}
.footer .box-bottom {
  background-color: #40210f;
  padding-top: 19rem;
  padding-bottom: 12.5rem;
}
.footer .box-bottom .wrap {
  max-width: 103.2rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .box-bottom .logo {
  width: 24.8rem;
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .box-bottom .logo:hover {
  opacity: 0.8;
}
.footer .box-bottom .info {
  width: 47.7rem;
}
.footer .box-bottom .btn-email {
  width: 100%;
  height: 5rem;
  border: 1px solid #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4rem;
  margin-bottom: 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .box-bottom .btn-email:hover {
  opacity: 0.8;
}
.footer .box-bottom .btn-email .icon {
  width: 1.8rem;
}
.footer .box-bottom .btn-email .text {
  color: #fff;
}
.footer .box-bottom .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13.5rem;
}
.footer .box-bottom .menu .item:not(:first-of-type) {
  margin-top: 2rem;
}
.footer .box-bottom .menu .item a {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .box-bottom .menu .item a:hover {
  opacity: 0.8;
}
.footer .box-bottom .menu-02 .item:not(:first-of-type) {
  margin-top: 1rem;
}
.footer .box-bottom .menu-02 .item a {
  font-size: 1.4rem;
}
.footer .box-bottom .copy-right {
  font-size: 1.2rem;
  color: #fff;
  text-align: right;
}
.footer .page-to-top {
  width: 16.8rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}
.footer .page-to-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}