/* ===================================
CSS reset
======================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #40210f;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

.f-mont {
  font-family: "Montserrat", sans-serif;
}

/*====================================
.c-container
======================================*/
.c-container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .c-container {
    padding: 0 20px;
  }
}
/*====================================
.c-container-02
======================================*/
.c-container-02 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .c-container-02 {
    padding: 0 50px;
  }
}
@media screen and (max-width: 767px) {
  .c-container-02 {
    padding: 0 20px;
  }
}
/*====================================
.break line
======================================*/
.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}
/* ===================================
.footer 
======================================*/
.footer {
  position: relative;
  margin-top: 120px;
}
.footer-top {
  height: 200px;
  background-color: #fcf8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 80px 80px 0 0;
  position: relative;
  overflow: hidden;
}
.footer-top::before, .footer-top::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 220px;
  background: url(../../image/common/bg_line.png) no-repeat;
  background-position: center bottom;
  background-size: cover;
  bottom: 0;
}
.footer-top::before {
  left: 44px;
}
.footer-top::after {
  right: 44px;
}
.footer .list-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.footer .list-sns .item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .list-sns .item:first-child {
  margin-right: 31px;
}
.footer .list-sns .item:not(:first-child):hover {
  opacity: 0.7;
}
.footer-bottom {
  background-color: #40210f;
  padding-top: 190px;
  padding-bottom: 125px;
}
.footer-bottom .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.footer-bottom .logo {
  max-width: 248px;
  width: 100%;
  margin-top: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-bottom .logo:hover {
  opacity: 0.8;
}
.footer-bottom .info {
  max-width: 477px;
  width: 100%;
}
.footer-bottom .btn-email {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-bottom .btn-email:hover {
  opacity: 0.8;
}
.footer-bottom .btn-email .icon {
  width: 18px;
}
.footer-bottom .btn-email .text {
  color: #fff;
}
.footer-bottom .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 135px;
  gap: 64px;
}
.footer-bottom .menu {
  width: calc(50% - 32px);
}
.footer-bottom .menu .item:not(:first-of-type) {
  margin-top: 20px;
}
.footer-bottom .menu .item a {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-bottom .menu .item a:hover {
  opacity: 0.8;
}
.footer-bottom .menu-02 .item:not(:first-of-type) {
  margin-top: 10px;
}
.footer-bottom .menu-02 .item a {
  font-size: 14px;
}
.footer-bottom .copy-right {
  font-size: 12px;
  color: #fff;
  text-align: right;
}
.footer .page-to-top {
  width: 168px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.footer .page-to-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-bottom {
    padding-top: 150px;
    padding-bottom: 280px;
  }
  .footer-bottom .inner {
    gap: 60px;
  }
  .footer-bottom .menus {
    gap: 30px;
    margin-bottom: 80px;
  }
  .footer-bottom .menu {
    width: calc(50% - 15px);
  }
  .footer-bottom .menu .item:not(:first-of-type) {
    margin-top: 15px;
  }
  .footer .page-to-top {
    width: 150px;
  }
}
@media screen and (max-width: 767px) {
  .footer-top {
    border-radius: 40px 40px 0 0;
    padding: 0 10px;
    height: 100px;
  }
  .footer-top::before, .footer-top::after {
    width: 13px;
    height: 120px;
  }
  .footer-top::before {
    left: 10px;
  }
  .footer-top::after {
    right: 10px;
  }
  .footer .list-sns {
    gap: 12px;
  }
  .footer .list-sns .item {
    width: 30px;
  }
  .footer .list-sns .item:first-child {
    width: 105px;
    margin-right: 10px;
  }
  .footer-bottom {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-bottom .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 53px;
  }
  .footer-bottom .logo {
    max-width: 187px;
    margin: 0 auto;
  }
  .footer-bottom .info {
    max-width: none;
  }
  .footer-bottom .btn-email .text {
    font-size: 13px;
  }
  .footer-bottom .menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 77px;
    gap: 0;
  }
  .footer-bottom .menu {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-bottom .menu .item:not(:first-of-type) {
    margin-top: 0;
  }
  .footer-bottom .menu .item a {
    font-size: 14px;
  }
  .footer-bottom .menu-02 {
    border-top: 1px solid rgba(255, 255, 255, 0.4392156863);
    padding-top: 30px;
    margin-top: 30px;
    gap: 15px;
  }
  .footer-bottom .menu-02 .item:not(:first-of-type) {
    margin-top: 0;
  }
  .footer-bottom .menu-02 .item a {
    font-size: 13px;
  }
  .footer-bottom .copy-right {
    font-size: 11px;
    text-align: left;
  }
  .footer .page-to-top {
    width: 84px;
    bottom: 0;
    right: 20px;
  }
}
/*====================================
.c-pagination
======================================*/
.c-pagination {
  max-width: 755px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 49px;
  margin-left: auto;
  margin-top: 75px;
}
.c-pagination .arrow {
  width: 16px;
  height: 16px;
  border-color: #808080;
  border-style: solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.c-pagination .arrow-prev {
  border-width: 0 0 1px 1px;
}
.c-pagination .arrow-next {
  border-width: 1px 1px 0 0;
}
.c-pagination .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.c-pagination .item {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  position: relative;
}
.c-pagination .item.active {
  color: #808080;
}
.c-pagination .item.active::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #808080;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.c-pagination .item:hover {
  color: #808080;
}

/*====================================
.c-foolow-us
======================================*/
.c-foolow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: fixed;
  top: 331px;
  right: 42px;
}
.c-foolow-us .item {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.c-foolow-us .item:first-child {
  margin-bottom: 15px;
  width: auto;
  height: auto;
}
.c-foolow-us .item:not(:first-child):hover {
  opacity: 0.8;
}

/*====================================
.c-section-heading
======================================*/
.c-section-heading {
  padding: 42px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.c-section-heading h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Rationale", sans-serif;
  font-size: 10rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgb(244, 164, 102)), color-stop(50%, rgb(255, 182, 0)), to(rgb(254, 206, 98)));
  background: linear-gradient(90deg, rgb(244, 164, 102) 0%, rgb(255, 182, 0) 50%, rgb(254, 206, 98) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.c-section-heading span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  line-height: 1;
  color: #825A12;
}
.c-section-heading--2 h2 {
  background: -webkit-gradient(linear, left top, right top, from(rgb(101, 58, 24)), color-stop(50%, rgb(146, 67, 0)), to(rgb(255, 155, 31)));
  background: linear-gradient(90deg, rgb(101, 58, 24) 0%, rgb(146, 67, 0) 50%, rgb(255, 155, 31) 100%);
  -webkit-background-clip: text;
          background-clip: text;
}

/*====================================
.c-arrowBtn
======================================*/
.c-arrowBtn {
  position: relative;
  max-width: 420px;
  width: 100%;
  padding: 40px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #40210f;
  border-radius: 49px;
}
.c-arrowBtn::before {
  position: absolute;
  top: 50%;
  right: 36px;
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
  width: 28px;
  height: 28px;
  content: "";
  border: 1px solid #fff;
  border-radius: 50%;
}
.c-arrowBtn::after {
  position: absolute;
  top: 50%;
  right: 47px;
  -webkit-transform: translateY(-72%) skewX(45deg);
          transform: translateY(-72%) skewX(45deg);
  width: 41px;
  height: 6px;
  content: "";
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.c-arrowBtn--transparent {
  color: #40210f;
  background-color: #fff;
  border: 1px solid #40210f;
}
.c-arrowBtn--transparent::before {
  border: 1px solid #40210f;
}
.c-arrowBtn--transparent::after {
  border-bottom: 1px solid #40210f;
  border-right: 1px solid #40210f;
}

/*====================================
.c-arrowBtn-02
======================================*/
.c-arrowBtn-02 {
  position: relative;
  max-width: 350px;
  width: 100%;
  padding: 31px 100px 31px 31px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: #40210F;
  border: 1px solid #40210F;
  border-radius: 49px;
}
.c-arrowBtn-02::before {
  position: absolute;
  top: 50%;
  right: 31px;
  -webkit-transform: translateY(-52%);
          transform: translateY(-52%);
  width: 30px;
  height: 30px;
  content: "";
  border: 1px solid #40210F;
  border-radius: 50%;
}
.c-arrowBtn-02::after {
  position: absolute;
  top: 50%;
  right: 47px;
  -webkit-transform: translateY(-72%) skewX(45deg);
          transform: translateY(-72%) skewX(45deg);
  width: 41px;
  height: 6px;
  content: "";
  border-bottom: 1px solid #40210F;
  border-right: 1px solid #40210F;
}

/*====================================
#pageNews
======================================*/
#pageNews .heading {
  padding-bottom: 106px;
}
#pageNews .inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
}
#pageNews .box-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
  margin-bottom: 20px;
}
#pageNews .box-head .date {
  font-size: 18px;
  color: #40210F;
  line-height: 1;
}
#pageNews .box-head .label {
  font-size: 15px;
  background-color: #40210f;
  color: #fff;
  line-height: 1;
  padding: 2px 21px 5px;
  border-radius: 5px;
}
#pageNews .box-head .label.is-event {
  background-color: #f98630;
}
#pageNews .box-head .label.is-cate-01 {
  background-color: #fdda5b;
  color: #40210f;
}
#pageNews .box-head .label.is-cate-02 {
  background-color: #2870a0;
}
#pageNews .box-head .label.is-cate-03 {
  background-color: #c3e2ed;
}
#pageNews .news-category {
  max-width: 280px;
  width: 100%;
  background-color: #fbf8ef;
  padding: 30px 25px;
  border-radius: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
#pageNews .news-category .title {
  margin-bottom: 15px;
  letter-spacing: 0.01em;
}
#pageNews .news-category .title .ja {
  font-size: 16px;
}
#pageNews .news-category .title .en {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: rgba(64, 33, 15, 0.1882352941);
}
#pageNews .news-category .list .item {
  padding: 30px 0;
}
#pageNews .news-category .list .item:not(:first-child) {
  border-top: 1px solid rgba(64, 33, 15, 0.062745098);
}
#pageNews .news-category .list .item a {
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#pageNews .news-category .list .item a:hover {
  opacity: 0.7;
}
#pageNews .news-content {
  max-width: 755px;
  width: 100%;
}
#pageNews .news-content .title {
  font-size: 16px;
  padding-left: 25px;
  margin-bottom: 45px;
  position: relative;
}
#pageNews .news-content .title::before {
  content: "";
  width: 1px;
  height: 45px;
  background-color: #40210f;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#pageNews .news-content .list .item {
  background-color: #fff;
  border: 1px solid #40210F;
  border-radius: 15px;
  padding: 40px 100px 40px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 40px;
          box-shadow: rgba(0, 0, 0, 0.05) 0 0 40px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#pageNews .news-content .list .item:not(:first-child) {
  margin-top: 12px;
}
#pageNews .news-content .list .item:hover {
  opacity: 0.7;
}
#pageNews .news-content .list .brief {
  font-size: 18px;
  letter-spacing: 0.05em;
}
#pageNews .news-content .list .arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #40210f;
  position: absolute;
  top: 50%;
  right: 22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#pageNews .news-content .list .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 41px;
  height: 6px;
  -webkit-transform: translateY(-72%) skewX(45deg);
          transform: translateY(-72%) skewX(45deg);
  border-bottom: 1px solid #40210f;
  border-right: 1px solid #40210f;
}

/*====================================
#Page News Detail
======================================*/
#pageNews.news-detail .header {
  border-bottom: 1px solid #000;
  padding-bottom: 35px;
  margin-bottom: 53px;
}
#pageNews.news-detail .header .desc {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.9;
}
#pageNews.news-detail .content {
  margin-bottom: 100px;
}
#pageNews.news-detail .content p {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 2.5;
}
#pageNews.news-detail .content p:not(:first-of-type) {
  margin-top: 50px;
}
#pageNews.news-detail .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#pageNews.news-detail .navigation .link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#pageNews.news-detail .navigation .link.is-small {
  width: 100px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: #40210F;
  border: 1px solid #40210F;
  border-radius: 49px;
}
#pageNews.news-detail .navigation .link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  #pageNews .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #pageNews .news-category {
    max-width: none;
  }
  #pageNews .news-content {
    max-width: none;
  }
}