/*====================================
#pageGuide
======================================*/
#pageGuide {
  .heading {
    margin-bottom: 97px;
    h2 {
      font-size: 90px;
    }
    span {
      font-size: 20px;
    }
  }

  .main-nav {
    margin: 0 0 117px 16px;
    &-list {
      .item {
        &:not(:first-child) {
          margin-top: 25px;
        }
      }
      .link {
        font-size: 18px;
        font-weight: 500;
        color: #42210B;
        letter-spacing: 0;
        line-height: 1.1;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .com-title {
    font-size: 26px;
    font-weight: 500;
    color: #FF9B1F;
    letter-spacing: 0.02em;
    line-height: 1.1;
    border-bottom: 1px solid #40210F50;
    padding-bottom: 28px;
    margin-bottom: 65px;
  }

  .com-sub-title {
    font-size: 20px;
    font-weight: 500;
    color: #40210F;
    letter-spacing: 0.02em;
    line-height: 1.1;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 6px;
    margin-bottom: 34px;
    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 21px;
      background-image: linear-gradient( to right, #F4A466 0%, #FFB600 50%, #FECE62 100%);
    }
  }

  .com-tit {
    font-size: 16px;
    font-weight: 500;
    color: #40210F;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }

  .com-txt {
    &:not(:first-of-type) {
      margin-top: 38px;
    }
    font-size: 16px;
    font-weight: 400;
    color: #40210F;
    letter-spacing: 0.05em;
    line-height: calc(30/16);
    margin-left: 6px;
    .light {
      color: #FF9B1F;
    }
  }

  .sec-content {
    &:not(:first-of-type) {
      margin-top: 170px;
    }
    .box-item {
      &:not(:first-of-type) {
        margin-top: 69px;
      }
    }
  }

  // .sec-orders
  .sec-orders {
    .sub-title {
      margin-bottom: 61px;
    }
    .box-bundling {
      &.box-item  {
        margin-top: 83px;
      }
    }
    .list-step {
      margin-left: 3px;
      .item {
        &:not(:first-child) {
          margin-top: 31px;
        }
        display: flex;
        align-items: stretch;
        gap: 18px;
      }
      .step {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.1;
        background-color: #40210F;
        color: #fff;
        border-radius: 20px;
        padding: 7px 18px;
        align-self: flex-start;
        flex-shrink: 0;
        margin-top: 3px;
      }
      .text {
        flex: 1;
      }
      .light {
        color: #FF9B1F;
      }
    }
    .description {
      .text {
        &:not(:first-of-type) {
          margin-top: 31px;
        }
      }
    }
  }

  // .sec-payment
  .sec-payment {
    .title {
      margin-bottom: 71px;
    }
    .tit-01 {
      margin-bottom: 27px;
    }
    .tit-02 {
      margin-bottom: 28px;
    }
    .txt-01 {
      margin-bottom: 59px;
    }
    .txt-02 {
      margin: 0 0 39px 0;
    }
    .txt-03 {
      margin-bottom: 60px;
      margin-top: 0;
    }
    .txt-04 {
      margin-top: 0;
    }
    .img-cards {
      margin-bottom: 30px;
      margin-left: 6px;
    }
    .box-amount {
      &.box-item {
        margin-top: 63px;
      }
      .txt {
        &:not(:first-of-type) {
          margin-top: 22px;
        }
        &-bold {
          font-weight: 500;
        }
        &-gray {
          color: #808080;
        }
      }
    }
  }

  // .sec-delivery-shipping
  .sec-delivery-shipping {
    &.sec-content {
      margin-top: 185px;
    }
  }

  // .sec-returns-exchanges
  .sec-returns-exchanges {
    &.sec-content {
      margin-top: 185px;
    }
  }

  // .sec-faq
  .sec-faq {
    .title {
      margin-bottom: 60px;
    }
    .list-faq {
      .item {
        &:not(:first-of-type) {
          margin-top: 30px;
        }
        &.active {
          .question {
            &::after {
              top: calc(50% + 5px);
              transform: translateY(-50%) rotate(225deg);
            }
          }
        }
        border: 1px solid #D8D3D0;
        border-radius: 10px;
      }
      .head {
        font-size: 23px;
        font-weight: 700;
        line-height: 1.5;
        color: transparent;
        background-image: linear-gradient( to right, #F4A466 0%, #FFB600 50%, #FECE62 100%);
        background-clip: text;
        align-self: flex-start;
        margin-top: -7px;
      }
      .question {
        display: flex;
        align-items: stretch;
        gap: 10px;
        padding: 27px 53px 27px 50px;
        position: relative;
        cursor: pointer;
        .txt {
          font-size: 18px;
          line-height: 1.5;
        }
        &::after {
          content: '';
          width: 15px;
          height: 15px;
          border-style: solid;
          border-color: #D8D3D0;
          border-width: 0 2px 2px 0;
          position: absolute;
          top: calc(50% - 3px);
          right: 30px;
          transform: translateY(-50%) rotate(45deg);
          transition: all 0.3s;
        }
      }
      .answer {
        margin-top: 13px;
        padding: 0 53px 27px 50px;
        &-wrap {
          display: flex;
          align-items: stretch;
          gap: 10px;
        }
        display: none;
        .txt {
          font-size: 16px;
          line-height: calc(28/16);
        }
      }
    }
  }
}

// TB
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #pageGuide {
    .heading {
      h2 {
        font-size: 70px;
      }
    }
  }
}

// SP
@media screen and (max-width: 767px) {
  #pageGuide {
    .heading {
      margin-bottom: 50px;
      h2 {
        font-size: 50px;
      }
      span {
        font-size: 13px;
      }
    }
    .main-nav {
      margin-bottom: 60px;
      &-list {
        .item {
          &:not(:first-child) {
            margin-top: 12px;
          }
        }
        .link {
          font-size: 16px;
        }
      }
    }

    .sec-content {
      &:not(:first-of-type) {
        margin-top: 85px;
      }
      .box-item {
        &:not(:first-of-type) {
          margin-top: 30px;
        }
      }
    }

    .com-title {
      font-size: 20px;
      padding-bottom: 14px;
      margin-bottom: 32px;
    }

    .com-sub-title {
      font-size: 18px;
      gap: 5px;
      margin-bottom: 17px;
    }

    .com-txt {
      &:not(:first-of-type) {
        margin-top: 20px;
      }
      font-size: 14px;
      .light {
        font-size: 14px;
      }
    }

    // .sec-orders
    .sec-orders {
      .sub-title {
        margin-bottom: 30px;
      }
      .box-bundling {
        &.box-item  {
          margin-top: 40px;
        }
      }
      .list-step {
        .item {
          &:not(:first-child) {
            margin-top: 20px;
          }
          gap: 15px;
        }
        .step {
          font-size: 14px;
          .light {
            font-size: 14px;
          }
        }
      }
      .description {
        .text {
          &:not(:first-of-type) {
            margin-top: 25px;
          }
        }
      }
    }

    // .sec-payment
    .sec-payment {
      .title {
        margin-bottom: 35px;
      }
      .tit-01 {
        margin-bottom: 20px;
      }
      .tit-02 {
        margin-bottom: 15px;
      }
      .txt-01 {
        margin-bottom: 35px;
      }
      .txt-02 {
        margin-bottom: 20px;
      }
      .txt-03 {
        margin-bottom: 30px;
      }
      .img-cards {
        margin-bottom: 20px;
      }
      .box-amount {
        &.box-item {
          margin-top: 30px;
        }
        .txt {
          &:not(:first-of-type) {
            margin-top: 12px;
          }
          &-bold,
          &-gray {
            font-size: 14px;
          }
        }
      }
    }

    // .sec-delivery-shipping
    .sec-delivery-shipping {
      &.sec-content {
        margin-top: 90px;
      }
    }

    // .sec-returns-exchanges
    .sec-returns-exchanges {
      &.sec-content {
        margin-top: 90px;
      }
    }

    // .sec-faq
    .sec-faq {
      .title {
        margin-bottom: 30px;
      }
      .list-faq {
        .item {
          &:not(:first-of-type) {
            margin-top: 20px;
          }
        }
        .head {
          font-size: 20px;
          margin-top: -4px;
        }
        .question {
          gap: 10px;
          padding: 17px 40px 17px 15px;
          .txt {
            font-size: 16px;
          }
          &::after {
            width: 12px;
            height: 12px;
            right: 20px;
          }
        }
        .answer {
          margin-top: 10px;
          padding: 0 15px 15px 17px;
          &-wrap {
            gap: 10px;
          }
          .txt {
            font-size: 14px;
          }
        }
      }
    }
  }
}