/*====================================
#pageLineupDetail
======================================*/
#pageLineupDetail {
  .product-slider {
    width: 100%;
    margin-bottom: 77px;
    .main-slider {
      width: 100%;
      .swiper-slide {
        width: 500px;
        height: 500px;
      }
      img {
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-button-prev,
      .swiper-button-next {
        width: 60px;
        height: 60px;
        border-style: solid;
        border-color: #40210F;
        transform: rotate(45deg);
      }
      .swiper-button-prev {
        left: 25%;
        border-width: 0 0 1px 1px;
      }
      .swiper-button-next {
        right: 25%;
        border-width: 1px 1px 0 0;
      }
    }
    .thumb-list {
      max-width: 800px;
      width: 100%;
      margin: 50px auto 0;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 12px;
      img {
        cursor: pointer;
        opacity: 0.6;
        border: 2px solid transparent;
        transition: 0.3s;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 6px;
        transition: all 0.3s ease;
        &.active {
          opacity: 1;
          border-color: #999999;
        }
      }
    }
  }
  .product-detail {
    .container {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
    }
    .name {
      font-size: 22px;
      font-weight: 400;
      color: #40210F;
      letter-spacing: 0.1em;
      line-height: calc(36/22);
      margin-bottom: 40px;
    }
    .tags {
      &-wrap {
        display: flex;
        align-items: center;
        gap: 13px;
        margin-bottom: 20px;
      }
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 7px 20px;
      .tag {
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #40210F;
        transition: all 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .btn-pre-order {
      border: 1px solid #40210F;
      border-radius: 4px;
      background-color: #fff;
      font-size: 14px;
      letter-spacing: 0.1em;
      line-height: 1;
      color: #40210F;
      padding: 4px 11px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
    .category {
      display: inline-block;
      font-size: 14px;
      color: #40210F;
      letter-spacing: 0.1em;
      border-left: 1px solid #40210F;
      padding: 1px 0 1px 12px;
      margin-bottom: 34px;
    }
    .price {
      font-size: 22px;
      font-weight: 500;
      color: #924300;
      letter-spacing: 0.1em;
      margin-bottom: 10px;
    }
    .soldout {
      font-size: 15px;
      font-weight: 500;
      color: #999999;
      letter-spacing: 0.1em;
      margin-bottom: 50px;
    }
    .button {
      max-width: none;
      width: 100%;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
      &-wrap {
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        gap: 22px;
        margin-bottom: 33px;
      }
      &-add-to-cart {
        padding: 31px;
        background-color: #40210F;
        border-radius: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
        .icon {
          width: 19px;
          height: 19px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text {
          font-size: 18px;
          color: #fff;
          letter-spacing: 0.1em;
          line-height: 1;
        }
      }
    }
    .favorite {
      width: fit-content;
      margin: 0 auto 109px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      .icon {
        width: 22px;
        height: 20px;
        background-image: url(../../image/common/icon_favorite.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        transition: all 0.3s ease;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover,
        &.is-active {
          background-image: url(../../image/common/icon_favorite_active.svg);
        }
      }
      .text {
        font-size: 16px;
        color: #40210F;
        letter-spacing: 0.1em;
      }
    }
    .brief {
      font-size: 20px;
      color: #40210F;
      line-height: calc(36/20);
      letter-spacing: 0.1em;
      margin-bottom: 46px;
    }
    .description {
      margin-bottom: 70px;
      p {
        &:not(:first-of-type) {
          margin-top: 35px;
        }
        font-size: 15px;
        color: #40210F;
        line-height: calc(30/15);
        letter-spacing: 0.1em;
      }
    }
    .detail-list {
      margin-bottom: 64px;
      .item {
        display: flex;
        justify-content: center;
        align-items: center;   
        gap: 20px;
        padding: 22px;
        border-bottom: 1px solid #000000;
        &:first-child {
          border-top: 1px solid #000000;
        }
      }
      .label,
      .value {
        font-size: 16px;
        color: #40210F;
        letter-spacing: 0.01em;
      }
      .label {
        width: 190px;
        flex-shrink: 0;
      }
      .value {
        flex: 1;
      }
    }
    .button-back {
      margin: 0 auto;
    }
  }
}

// TB
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #pageLineup {}
}

// SP
@media screen and (max-width: 767px) {
  #pageLineup {}
}