/*====================================
#pageNews
======================================*/
#pageNews {
  .heading {
    padding-bottom: 106px;
  }
  .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 45px;
  }
  .box-head {
    display: flex;
    align-items: center;
    gap: 37px;
    margin-bottom: 20px;
    .date {
      font-size: 18px;
      color: #40210F;
      line-height: 1;
    }
    .label {
      font-size: 15px;
      background-color: #40210f;
      color: #fff;
      line-height: 1;
      padding: 2px 21px 5px;
      border-radius: 5px;
      &--orange {
        background-color: #f98630;
      }
      &--yellow {
        background-color: #fdda5b;
        color: #40210f;
      }
      &--blue {
        background-color: #2870a0;
      }
      &--green {
        background-color: #c3e2ed;
        color: #40210F;
      }
    }
  }
  .news-category {
    max-width: 280px;
    width: 100%;
    background-color: #fbf8ef;
    padding: 30px 25px 12px 25px;
    border-radius: 20px;
    align-self: flex-start;
    .title {
      margin-bottom: 10px;
      letter-spacing: 0.01em;
      .ja {
        font-size: 16px;
        margin-bottom: 3px;
      }
      .en {
        display: block;
        font-size: 14px;
        font-weight: 500;
        color: #40210F30;
      }
    }
    .list {
      .item {
        &:not(:first-child) {
          border-top: 1px solid #40210F10;
        }
        padding: 27px 0;
        a {
          display: block;
          font-size: 16px;
          transition: all 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .news-content {
    max-width: 755px;
    width: 100%;
    .title {
      font-size: 16px;
      padding: 10px 10px 10px 25px;
      margin-bottom: 34px;
      border-left: 1px solid #40210f;
    }
    .list {
      .item {
        &:not(:first-child) {
          margin-top: 12px;
        }
        &:hover {
          opacity: 0.7;
        }
        background-color: #fff;
        border: 1px solid #40210F;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.05) 0 0 40px;
        position: relative;
        transition: all 0.3s;
      }
      .link {
        display: block;
        padding: 40px 100px 40px 40px;
      }
      .brief {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.66;
        letter-spacing: 0.05em;
      }
      .arrow {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #40210f;
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 10px;
          width: 41px;
          height: 6px;
          transform: translateY(-72%) skewX(45deg);
          border-bottom: 1px solid #40210f;
          border-right: 1px solid #40210f;
        }
      }
    }
  }
}

// TB
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #pageNews {
    .heading {
      padding-bottom: 70px;
    }
    .inner {
      gap: 30px;
    }
    .box-head {
      gap: 30px;
      margin-bottom: 15px;
      .date {
        font-size: 17px;
      }
      .label {
        font-size: 14px;
      }
    }
    .news-category {
      max-width: 230px;
    }
    .news-content {
      .list {
        .link {
          padding: 30px 80px 30px 30px;
        }
        .brief {
          font-size: 16px;
        }
      }
    }
  }
}

// SP
@media screen and (max-width: 767px) {
  #pageNews {
    .inner {
      flex-direction: column;
    }
    .box-head {
      gap: 20px;
      .date {
        font-size: 16px;
      }
      .lable {
        font-size: 13px;
      }
    }
    .news-category {
      max-width: none;
      padding: 35px 20px 20px 20px;
      .title {
        margin-bottom: 10px;
        .ja {
          font-size: 14px;
        }
        .en {
          font-size: 13px;
        }
      }
      .list {
        .item {
          padding: 20px 0;
          a {
            font-size: 14px;
          }
        }
      }
    }
    .news-content {
      max-width: none;
      .title {
        padding: 7px 7px 7px 20px;
        margin-bottom: 20px;
      }
      .list {
        .item {
          border-radius: 10px;
        }
        .link {
          padding: 20px 75px 20px 20px;
        }
        .brief {
          font-size: 14px;
        }
        .arrow {
          width: 25px;
          height: 25px;
          right: 22px;
          &::after {
            width: 35px;
          }
        }
      }
    }
  }
}

/*====================================
#Page News Detail
======================================*/
#pageNews.news-detail {
  .new-header {
    .new-title {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.05em;
      line-height: 1.9;
    }
    border-bottom: 1px solid #000;
    padding-bottom: 35px;
    margin-bottom: 53px;
  }
  .new-content {
    margin-bottom: 100px;
    h2,h3,h4 {
      font-weight: 500;
      margin: 20px 0;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 35px;
    }
    h4 {
      font-size: 30px;
    }
    img {
      margin: 50px 0;
    }
    ol {
      list-style-type: decimal;
      list-style-position: inside;
      margin: 20px 0;
      li {
        line-height: 2;
      }
    }
    ul {
      margin: 20px 0;
      li {
        line-height: 2;
      }
    }
    p {
      &:not(:first-of-type) {
        margin-top: 50px;
      }
      font-size: 16px;
      letter-spacing: 0.05em;
      line-height: 2.5;
    }
  }
  .new-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link {
      &.is-small {
        width: 100px;
        height: 60px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.01em;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #40210F;
        border: 1px solid #40210F;
        border-radius: 49px;
      }
      &:hover {
        opacity: 0.8;
      }
      transition: all 0.3s;
    }
  }
}

// TB
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #pageNews.news-detail {
    .new-header {
      .new-title {
        font-size: 17px;
      }
      padding-bottom: 30px;
      margin-bottom: 45px;
    }
    .new-content {
      margin-bottom: 100px;
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 25px;
      }
      h4 {
        font-size: 20px;
      }
    }
    .new-navigation {
      gap: 15px;
      .link {
        &.is-small {
          width: 80px;
          height: 50px;
          font-size: 14px;
        }
      }
    }
  }
}

// SP
@media screen and (max-width: 767px) {
  #pageNews.news-detail {
    .new-header {
      .new-title {
        font-size: 16px;
      }
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    .new-content {
      margin-bottom: 60px;
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 20px;
      }
      h4 {
        font-size: 15px;
      }
      img {
        margin: 30px 0;
      }
      p {
        &:not(:first-of-type) {
          margin-top: 30px;
        }
        font-size: 14px;
      }
    }
    .new-navigation {
      gap: 10px;
      .link {
        &.is-small {
          width: 70px;
          height: 40px;
          font-size: 14px;
        }
      }
    }
  }
}