body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #40210f;
  font-feature-settings: "palt";
}
.f-mont {
  font-family: "Montserrat", sans-serif;
}