body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #40210f;
}
.f-mont {
  font-family: "Montserrat", sans-serif;
}
.f-rati {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
}