/* ===================================
.footer 
======================================*/
.footer {
  position: relative;
  margin-top: 120px;
  &-top {
    height: 200px;
    background-color: #fcf8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px 80px 0 0;
    position: relative;
    overflow: hidden;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 220px;
      background: url(../../image/common/bg_line.png) no-repeat;
      background-position: center bottom;
      background-size: cover;
      bottom: 0;
    }
    &::before {
      left: 44px;
    }
    &::after {
      right: 44px;
    }
  }
  .list-sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    .item {
      &:first-child {
        margin-right: 31px;
      }
    }
  }
  &-bottom {
    background-color: #40210f;
    padding-top: 190px;
    padding-bottom: 125px;
    .inner {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .logo {
      max-width: 248px;
      width: 100%;
      margin-top: 5px;
      transition: all 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
    .info {
      max-width: 477px;
      width: 100%;
    }
    .btn-email {
      width: 100%;
      height: 50px;
      padding: 0 10px;
      border: 1px solid #fff;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      margin-bottom: 40px;
      transition: all 0.3s;
      &:hover {
        opacity: 0.8;
      }
      .icon {
        width: 18px;
      }

      .text {
        color: #fff;
      }
    }

    .menus {
      display: flex;
      justify-content: space-between;
      margin-bottom: 135px;
      gap: 64px;
    }

    .menu {
      width: calc(50% - 32px);
      .item {
        &:not(:first-of-type) {
          margin-top: 20px;
        }
        a {
          color: #fff;
          transition: all 0.3s;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
    .menu-02 {
      .item {
        &:not(:first-of-type) {
          margin-top: 10px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    .copy-right {
      font-size: 12px;
      color: #fff;
      text-align: right;
    }
  }
  .page-to-top {
    width: 168px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// TB
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    &-bottom {
      padding-top: 150px;
      padding-bottom: 280px;

      .inner {
        gap: 60px;
      }

      .menus {
        gap: 30px;
        margin-bottom: 80px;
      }

      .menu {
        width: calc(50% - 15px);
        .item {
          &:not(:first-of-type) {
            margin-top: 15px;
          }
        }
      }
    }
    .page-to-top {
      width: 150px;
    }
  }
}

// SP
@media screen and (max-width: 767px) {
  .footer {
    &-top {
      border-radius: 40px 40px 0 0;
      padding: 0 10px;
      height: 100px;
      &::before,
      &::after {
        width: 13px;
        height: 120px;
      }
      &::before {
        left: 10px;
      }
      &::after {
        right: 10px;
      }
    }
    .list-sns {
      gap: 12px;
      .item {
        &:first-child {
          width: 105px;
          margin-right: 10px;
        }
        width: 30px;
      }
    }
    &-bottom {
      padding-top: 60px;
      padding-bottom: 60px;
      .inner {
        flex-direction: column;
        gap: 53px;
      }
      .logo {
        max-width: 187px;
        margin: 0 auto;
      }
      .info {
        max-width: none;
      }
      .btn-email {
        .text {
          font-size: 13px;
        }
      }

      .menus {
        flex-direction: column;
        margin-bottom: 77px;
        gap: 0;
      }

      .menu {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .item {
          &:not(:first-of-type) {
            margin-top: 0;
          }
          a {
            font-size: 14px;
          }
        }
      }
      .menu-02 {
        border-top: 1px solid #FFFFFF70;
        padding-top: 30px;
        margin-top: 30px;
        gap: 15px;
        .item {
          &:not(:first-of-type) {
            margin-top: 0;
          }
          a {
            font-size: 13px;
          }
        }
      }
      .copy-right {
        font-size: 11px;
        text-align: left;
      }
    }
    .page-to-top {
      width: 84px;
      bottom: 0;
      right: 20px;
    }
  }
}