/* ===================================
.header 
======================================*/
.header {
  display: block;
  width: auto;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
  position: static;
  background: transparent;
}