/* ===================================
CSS reset
======================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
}

header, footer, main, section, div, article, aside, figure, figcaption, h1, h2, h3, h4, h5, h6, p, span, strong, em, small, mark, ul, ol, li, table, thead, tbody, tfoot, tr, th, td, dl, dt, dd, a, label, button, textarea, select, input, input[type="radio"], input[type="checkbox"], img, picture, video, canvas, svg {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #40210f;
}

.container {
  &::before,
  &::after {
    display: none;
  }
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
  min-width: auto;
  min-height: auto;
}

.footer > * {
  max-width: none;
}

.label {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-weight: 400;
  color: #40210f;
  text-align: left;
  white-space: unset;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
